@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body{
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #333;
    color: white;
}
a {
    text-decoration: none;
}
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: inherit;
    height: inherit;
    justify-content: center;
    padding: 50px;
}
.box1, .box2, .box3{
    width: 300px;
    height: 300px;
}
.box1{
    background-color: crimson;
}
.box2{
    background-color: lightseagreen;
}
.box3{
    background-color: royalblue;
}